.list-background {
  font-family: Arial, sans-serif;
  background-image: url("../../assets/img/garde-enfants.jpg");
  height: 600px;
  max-height: 600px;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;

}
