#nav {
  overflow: hidden;
  width: 100%;
  height: 60px;
  background: url("../assets/img/bar1.jpg");
}
#nav-wrapper {
  margin-left: auto;
  margin-right: auto;
}
#nav-wrapper ul li{
  list-style: none;
  display: inline;
  font-weight: bold;
  padding-left: 98px;
}
#nav-wrapper a {
  color: #00897B;
  margin-top: 10px;
}
#nav-wrapper a:hover{
  color: orange;
}
